name: Test

on: [push, pull_request]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: sigs.k8s.io/cloud-provider-kind

permissions: write-all

jobs:
  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: stable
    - uses: actions/checkout@v5
    - run: make test
    - run: make lint

